.objectivesImage{
    width: 3cm;
    height: 3cm;
    vertical-align: text-top !important;
}

.row{
    display: flex;
    flex-direction: row;    
}

.column{
    display: flex;
    flex-direction: column;   
    padding-bottom: 100px; 
}

.bigrow{
    padding-top: 1.5cm;
    margin: 2.5cm;
    display: flex;
    flex-direction: row; 
}

.bigcolumn{
    flex-direction: column; 
    flex: 50%;
}

.goalTitle{
    vertical-align: text-top; 
}

.colorSDG1{
    font-weight: bold !important;
    color: #e5243b !important;
    vertical-align: text-top;
}

.colorSDG8{
    font-weight: bold !important;
    color: #A21942 !important; 
}

.colorSDG10{
    font-weight: bold !important;
    color: #DD1367 !important;
}

.colorSDG11{
    font-weight: bold !important;
    color: #FD9D24 !important; 
}

.colorSDG13{
    font-weight: bold !important;
    color: #3F7E44 !important; 
}

.colorSDG14{
    font-weight: bold !important;
    color: #0A97D9 !important; 
}

.colorSDG15{
    font-weight: bold !important;
    color: #56C02B !important; 
}

.colorSDG17{
    font-weight: bold !important;
    color: #19486A !important; 
}

.number{
    padding-left: 1cm;
    padding-right: 1cm;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    font-size: 100px;
}

p{
    margin-top: 10px;
    font-size: 30px;
    font-family: sans-serif;
}

p1{
    color:black;
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    padding-right: 3cm;
    padding-left: 3cm;
    padding-top: 0.3cm;
    font-family: sans-serif;
}

body{
    overflow-y: hidden;
  }